@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  @keyframes fadeToTransparent {
    /* fade from the opacity value of an element which is 1 by default */
    to {
      opacity: 0;
    }
  }

  @keyframes fromCenter {
    /* v1 */
    /* not specifying to make a random top and left values automatically */
    from {
      transform: translate(0px, 0px);
    }
  }

  @keyframes disperse {
    /* v2 with dynamic values */
    /* not really working with tailwind */
    to {
      transform: translate(var(--x), var(--y));
    }
  }

  /* slide animation for shimmer button */
  @keyframes slide {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  /* custom animations for price selector to is omitted so it goes to the default element color */
  /* used in src/animations/price.tsx */
  @keyframes colors {
    from {
      color: hsl(50deg 100% 50%);
    }
  };
}
